trainer:
  precision: "16-mixed" # or "bf16-mixed" for uni2 or 16-mixed for h-optimus
  max_steps: 40000
  val_check_interval: ~
  check_val_every_n_epoch: 1
  accumulate_grad_batches: 1
  logger:
    class_path: lightning.pytorch.loggers.wandb.WandbLogger
    init_args:
      project: anorak
      group: fewshot
      job_type: fewshot
      tags: ["fewshot", "wahoo", "10x", "448x448"]
      save_dir: ./wandb
      log_model: false # avoid artifact uploads in debug
model:
  class_path: training.linear_semantic.LinearSemantic
  init_args:
    freeze_encoder: False
    network:
      class_path: models.histo_linear_decoder.LinearDecoderLEACE
      init_args:
        encoder_id: "h0-mini"
        leace_path: ""
    tiler:
      class_path: training.tiler.GridPadTiler
      init_args:
        tile: 448
        stride: 224
        weighted_blend: true # or true
        pad_mode: "replicate" # optional; nice for images
        pad_value: 0.0
data:
  class_path: datasets.anorak.ANORAKFewShot
  init_args:
    overwrite_root: /home/valentin/workspaces/benchmark-vfm-ss/data/ANORAK_10x
    fewshot_csv: /home/valentin/workspaces/benchmark-vfm-ss/data/ANORAK_10x/fewshot_plan.csv
    img_size: [448, 448]
    batch_size: 16
    num_workers: 0
    prefetch_factor: 4
    num_iter_per_epoch: 1500
    support_set: 0   
    n_shot: 10       
