trainer:
  precision: "bf16-mixed" # or "bf16-mixed" for uni2
  max_steps: 40000
  val_check_interval: ~
  check_val_every_n_epoch: 10
  logger:
    class_path: lightning.pytorch.loggers.wandb.WandbLogger
model:
  class_path: pathseg.training.fpn_semantic.FPNSemantic
  init_args:
    freeze_encoder: True
    network:
      class_path: pathseg.models.histoseg.segmentation_models.HistoViTSeg
      init_args:
        encoder_id: "uni2"
    tiler:
      class_path: pathseg.training.tiler.GridPadTiler
      init_args:
        tile: 448
        stride: 384 # overlap = 64
        weighted_blend: true # or true to use hanning window
        pad_mode: "replicate"
        pad_value: 0.0
data:
  class_path: pathseg.datasets.anorak.ANORAK
  init_args:
    overwrite_root: /home/valentin/workspaces/pathseg-benchmark/data/ANORAK_10x
    img_size: [448, 448]
    prefetch_factor: 4
    fold: 0
