trainer:
  precision: "16-mixed" # or "bf16-mixed" for uni2 or 16-mixed for h-optimus
  max_steps: 2500 # 40000
  check_val_every_n_epoch: null
  val_check_interval: 100  # to change if accumulate_grad_batches > 1
  accumulate_grad_batches: 1
  logger:
    class_path: lightning.pytorch.loggers.tensorboard.TensorBoardLogger
    init_args:
      save_dir: ./tb_logs
      name: fewshot-experiment
data:
  class_path: pathseg_fewshot.datasets.fss_data_module.FSSDataModule
  init_args:
    root: /home/valentin/workspaces/pathseg-fewshot/data/fss
    tile_index_parquet: /home/valentin/workspaces/pathseg-fewshot/data/fss/splits/scenario_anorak_2/tile_index_train.parquet
    split_csv: /home/valentin/workspaces/pathseg-fewshot/data/fss/splits/scenario_anorak_2/split.csv
    val_episodes_json: /home/valentin/workspaces/pathseg-fewshot/data/fss/splits/scenario_anorak_2/test_episodes.json
    img_size: [896, 896]
    prefetch_factor: 4
    num_workers: 0
    batch_size: 4
    episodes_per_epoch: 10000
    ways:
      - 2
    shots: 1
    queries: 1
model:
  class_path: pathseg_fewshot.training.metalinear_semantic.MetaLinearSemantic
  init_args:
    freeze_encoder: false
    num_classes: 3 # ways + background
    lr_multiplier_encoder: 0.01
    loss: "cross_entropy" # or "ce_dice"
    loss_bank_div_coeff: 1e-1
    loss_bank_usage_coeff: 1e-1
    add_loss_par: false
    network:
      class_path: pathseg_fewshot.models.few_shot_segmenter.FewShotSegmenter
      init_args:
        encoder_id: "h0-mini"
        proj_dim: ~
        ignore_index: 255
        meta_learner_id:  "meta_linear_head_attn" # "area_gated_logit_head_improved"
        meta_learner_kwargs:
          h_dim: 256
          num_heads: 4
          use_gate: true
          # h_dim: 256
          # learnable_temp: false
          # center: true
          # num_prototypes: 10
          # lse_alpha: 20.0
          # init_temp: 5.0
          # bank_size: 256
          # stat_mode: "logits"
          # in_agg: "topq_mean"
          # topq: 0.1
          # out_agg: "mean"
          # weight_mode: "relu"
          # token_topk: 16
          # bg_mode: "open_set"
          # add_diversity_loss: true
          # add_sparse_loss: true
          # add_usage_loss: true

    tiler:
      class_path: pathseg_fewshot.training.tiler.GridPadTiler
      init_args:
        tile: 896
        stride: 448
        weighted_blend: true # or true
        pad_mode: "replicate" # optional; nice for images
        pad_value: 0.0
