trainer:
  precision: "16-mixed" # or "bf16-mixed" for uni2 or 16-mixed for h-optimus
  max_steps: 40000
  check_val_every_n_epoch: null
  val_check_interval: 100  # to change if accumulate_grad_batches > 1
  accumulate_grad_batches: 1
  logger:
    class_path: lightning.pytorch.loggers.wandb.WandbLogger
    init_args:
      project: "fewshot-benchmark"
      group: test
      job_type: baseline
      tags: ["baseline", "wahoo","20x", "448x448"]
      save_dir: ./wandb
      log_model: false # avoid artifact uploads in debug
data:
  class_path: pathseg_fewshot.datasets.fss_data_module.FSSDataModule
  init_args:
    root: /home/valentin/workspaces/pathseg-fewshot/data/fss
    tile_index_parquet: /home/valentin/workspaces/pathseg-fewshot/data/index/tile_index_t672_s448/tile_index_t672_s448.parquet
    split_csv: /home/valentin/data/fss/splits/scenario_2/split.csv
    val_episodes_json: /home/valentin/data/fss/splits/scenario_2/val_episodes.json
    img_size: [448, 448]
    prefetch_factor: 4
    num_workers: 0
    batch_size: 16
    episodes_per_epoch: 10000
    ways:
      - 2
    shots: 2
    queries: 1
model:
  class_path: pathseg_fewshot.training.metalinear_semantic.MetaLinearSemantic
  init_args:
    freeze_encoder: True
    num_classes: 2 # TODO: it is only for the metrics, so adapt
    network:
      class_path: pathseg_fewshot.models.few_shot_segmenter.FewShotSegmenter
      init_args:
        encoder_id: "h0-mini"
        ignore_index: 255
        meta_learner_id: "gaussian_mixture_bank_head" # "prototype_head" 
        center_features: true
    tiler:
      class_path: pathseg_fewshot.training.tiler.GridPadTiler
      init_args:
        tile: 448
        stride: 224
        weighted_blend: true # or true
        pad_mode: "replicate" # optional; nice for images
        pad_value: 0.0
